@import "./variables.scss";

@layer utilities {
  .bg-primary-color {
    background-color: $primary-color;
  }
}

@layer utilities {
  .text-primary-color {
    color: $primary-color;
  }
}
@layer utilities {
  .border-primary-color {
    border: 1px solid $primary-color;
  }
}

@layer utilities {
  .border-bottom-primary-color {
    border-bottom: 1px solid $primary-color;
  }
}

@layer utilities {
  .bg-secondary-color {
    background-color: $secondary-color;
  }
}

@layer utilities {
  .text-secondary-color {
    color: $secondary-color;
  }
}
@layer utilities {
  .border-secondary-color {
    border: 1px solid $secondary-color;
  }
}
@layer utilities {
  .border-bottom-secondary-color {
    border-bottom: 1px solid $secondary-color;
  }
}


